.box1{
    background-color: #1f1f25;
     height: 120px;
}
.box2{
     background-color: #19191e;
         height: 60px;
}
.redes1{
    font-size: 55px !important;
     color: white;
}
.redes2{
    font-size: 38px !important;
     color: white;
}
.redes3{
    font-size: 50px !important;
         color: white;
}
.textos{
    color: white;
}