.caixa{
    background-color: #26262F; 
}
.titulo{
    color: #EFC13B !important;
    font-weight: bold !important;
}
.botao{
    border-color: #EFC13B !important; /*cor da borda*/
     background-color: #26262F; /* cor interna do botão*/
      color: #EFC13B !important; /* Cor da letra*/
}
.postagens{
    background-color: #26262F;
}
.text-decorator-none{
    text-decoration: none;
}
