.caixa{
    background-color: #26262F; 
}
.titulo{
    color: #EFC13B !important;
    font-weight: bold !important;
}
.botao{
    border-color: #EFC13B !important;
     background-color: #26262F;
      color: #EFC13B !important;
}
.postagens{
    background-color: #26262F;
}
