.imagem2{
    background-image: url(https://media3.giphy.com/media/0WsYJial8ZOwUCCSko/giphy.gif?cid=790b7611a937dbf024f866868369ce9eb07c8cfd4a87e512&rid=giphy.gif&ct=g);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.texto2{
    font-weight: bold !important;

}

.btnCancelar{
    margin-right: 20px !important;
    border-color: #EFC13B !important;
    background-color: #26262F !important;
    color: #EFC13B !important;
}

.caixa3{
background-color: #F9F4D9;
}

/* background-image: url(https://images.squarespace-cdn.com/content/v1/5e22200ff9d6fb27e4782cf6/1582724125390-EYE6UCMO85DA1RJPBFAI/Brooklyn.gif?format=1000w);   
 background-repeat: no-repeat;

 background-size: cover;
 background-position: center;
}*/


